<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <th>    
                <td>username</td> 
                <td>email</td> 
                <td>phone</td> 
                <td>address</td> 
                <td>age</td> 
                <td>gender</td>
                <td>image</td>
                <td>file name</td>
        </th>
            {% for i in res %}
            <tr>
                <td>{{i.id}}</td> 
                <td>{{i.username}}</td> 
                <td>{{i.email}}</td> 
                <td>{{i.phone}}</td> 
                <td>{{i.address}}</td> 
                <td>{{i.age}}</td> 
                <td>{{i.gender}}</td>
                <td><img src="{{i.img.url}}" alt="no image" height="75" width="120"></td>
                <td>{{i.file}}</td>
            </tr>

            {% endfor %}
        </table>
</body>
</html>